
// Adjust Moonstone theme color
@moon-theme: light;
@moon-accent: #0000ff;

// Adjust Moonstone theme size
@moon-body-font-size: 16px;
@moon-item-font-size: 16px;
@moon-popup-header-font-size:       34px;
@moon-popup-sub-header-font-size:   22px;
@moon-popup-content-font-size:      15px;
@moon-popup-padding: 22px;
@moon-input-border-width: 3px;
@moon-input-height: 60px;
@moon-selectable-item-indicator-width: 9px;
@moon-selectable-item-indicator-height: 9px;
@moon-button-height: 60px;
@moon-button-large-font-size: 22px;
@moon-icon-size: 30px;
@moon-icon-button-size: 64px;

// Basic styles
.twist-url-decorator {
	width: 400px;
}

.twist-url {
	width: 100%;
}

.twist-text-decorator {
	width: 400px;
	display: block;
}

.twist-text {
	width: 375px;
}

.twist-count {
	display: block;
	font-size: 10px;
	margin-left: 390px;
}
